openapi: 3.1.0
info:
  title: Lykuro AI Gateway API
  version: 1.0.0
  description: |
    中国LLM(DeepSeek、Qwen、GLM、Kimi等)のAPIを日本市場向けに代理提供するOpenAI/Anthropic互換APIゲートウェイ。

    ## アーキテクチャ
    本ゲートウェイは**透過リバースプロキシ**です。`base_url` を `https://api.lykuro.ai/{provider}/{上流パス}`
    に差し替えるだけで動作し、パス・クエリ・body は改変されず上流へ素通しされます(認証ヘッダのみ Lykuro→上流キーに差替)。
    リクエスト/レスポンスのスキーマは上流(OpenAI/Anthropic 互換)に準拠します。

    ## 認証
    `Authorization: Bearer sk-jp-xxx`(OpenAI系) または `x-api-key: sk-jp-xxx`(Anthropic系)。

    ## OpenAI SDK互換
    ```python
    import openai
    client = openai.OpenAI(
        api_key="sk-jp-...",
        base_url="https://api.lykuro.ai/deepseek/v1"   # /{provider}/...
    )
    ```

    ## Anthropic SDK互換
    ```python
    import anthropic
    client = anthropic.Anthropic(
        api_key="sk-jp-...",
        base_url="https://api.lykuro.ai/deepseek/anthropic"
    )
    ```
  contact:
    name: Lykuro Support
    email: support@lykuro.ai
    url: https://docs.lykuro.ai
  license:
    name: Proprietary

servers:
  - url: https://api.lykuro.ai
    description: 本番環境
  - url: https://api-staging.lykuro.ai
    description: ステージング環境

security:
  - BearerAuth: []

tags:
  - name: proxy
    description: 透過リバースプロキシ(OpenAI/Anthropic互換 LLM API)。/{provider}/* で上流へ素通し
  - name: models
    description: モデル情報
  - name: account
    description: アカウント・APIキー管理(ダッシュボード用)
  - name: billing
    description: 課金・残高管理(ダッシュボード用)
  - name: usage
    description: 利用量分析(ダッシュボード用)

paths:
  # ============================================================
  # 透過リバースプロキシ(LLM 互換 API)
  # ============================================================
  # クライアントは上流の base_url を /{provider}/ プレフィックス付きに差し替えるだけ。例:
  #   OpenAI系  : https://api.lykuro.ai/alibaba/compatible-mode/v1   (Authorization: Bearer)
  #   Anthropic : https://api.lykuro.ai/alibaba/apps/anthropic       (x-api-key)
  #   DeepSeek  : https://api.lykuro.ai/deepseek/v1 , /deepseek/anthropic
  #   Codex     : https://api.lykuro.ai/alibaba/compatible-mode/v1
  #   Realtime  : wss://api.lykuro.ai/alibaba/api-ws/v1/realtime      (WebSocket)
  # path/query/body は改変せず上流へ透過し、認証ヘッダのみ Lykuro→上流キーに差替える。
  # リクエスト/レスポンスのスキーマは上流(OpenAI/Anthropic 互換)に準拠。
  /{provider}/{path}:
    post:
      tags: [proxy]
      summary: 透過プロキシ(OpenAI/Anthropic 互換エンドポイントへ素通し)
      description: |
        `/{provider}` で上流プロバイダを選択し、残りのパス・クエリ・body をそのまま上流へ転送する。
        本文と応答は上流の OpenAI/Anthropic スキーマに準拠(`stream: true` で SSE)。WebSocket アップグレードも透過。
      operationId: reverseProxy
      parameters:
        - name: provider
          in: path
          required: true
          description: 上流プロバイダキー(deepseek / alibaba ...)
          schema: { type: string, example: deepseek }
        - name: path
          in: path
          required: true
          description: 上流のパス(例 v1/chat/completions, anthropic/v1/messages)
          schema: { type: string, example: v1/chat/completions }
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: 上流応答をそのまま返す(JSON または text/event-stream)
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/InsufficientBalance' }
        '404': { $ref: '#/components/responses/ModelNotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '502': { $ref: '#/components/responses/UpstreamError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

  /v1/models:
    get:
      tags: [models]
      summary: 利用可能モデル一覧
      operationId: listModels
      security: []  # 公開エンドポイント
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'

  # ============================================================
  # 認証 API(ダッシュボード用)
  # ============================================================
  /api/auth/signup:
    post:
      tags: [account]
      summary: 新規登録
      operationId: signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, agreed_to_tos]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 12
                agreed_to_tos:
                  type: boolean
                  enum: [true]
      responses:
        '201':
          description: 登録完了(メール認証メール送信済み)
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    format: uuid
                  email_verification_sent:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 既に登録されているメールアドレス
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/auth/verify-email:
    get:
      tags: [account]
      summary: メール認証
      operationId: verifyEmail
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            description: JWT(24時間有効)
      responses:
        '200':
          description: 認証完了
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/auth/phone:
    post:
      tags: [account]
      summary: 電話番号登録・SMS送信
      operationId: registerPhone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_e164]
              properties:
                phone_e164:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: "+819012345678"
      responses:
        '200':
          description: SMS送信完了
          content:
            application/json:
              schema:
                type: object
                properties:
                  verification_id:
                    type: string
                  expires_in:
                    type: integer
                    example: 300
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: 別アカウントで使用済みの電話番号
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/auth/verify-otp:
    post:
      tags: [account]
      summary: SMS OTP検証
      operationId: verifyOtp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [verification_id, code]
              properties:
                verification_id:
                  type: string
                code:
                  type: string
                  pattern: '^\d{6}$'
      responses:
        '200':
          description: 認証完了、無料クレジット付与
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  initial_credit_jpy:
                    type: number
                    example: 1500
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: OTP不一致
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/auth/login:
    post:
      tags: [account]
      summary: ログイン
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  description: 2FA有効時に必須
      responses:
        '200':
          description: ログイン成功
          headers:
            Set-Cookie:
              schema:
                type: string
                description: session_token (HttpOnly, Secure, SameSite=Lax)
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
        '401':
          description: 認証失敗
        '403':
          description: アカウント停止中
        '429':
          $ref: '#/components/responses/RateLimited'

  /api/auth/logout:
    post:
      tags: [account]
      summary: ログアウト
      operationId: logout
      responses:
        '200':
          description: ログアウト完了

  # ============================================================
  # APIキー管理
  # ============================================================
  /api/keys:
    get:
      tags: [account]
      summary: APIキー一覧取得
      operationId: listApiKeys
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'

    post:
      tags: [account]
      summary: APIキー発行
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
                description:
                  type: string
                allowed_models:
                  type: array
                  items:
                    type: string
                  description: nullで全モデル許可
                  nullable: true
                allowed_ips:
                  type: array
                  items:
                    type: string
                    description: CIDR表記
                  nullable: true
                monthly_budget_jpy:
                  type: number
                  nullable: true
                daily_request_limit:
                  type: integer
                  nullable: true
                expires_at:
                  type: string
                  format: date-time
                  nullable: true
      responses:
        '201':
          description: 発行成功(平文キーは初回のみ返却)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiKey'
                  - type: object
                    properties:
                      key:
                        type: string
                        description: sk-jp-で始まる平文キー(以降表示されない)
        '403':
          description: APIキー数の上限到達

  /api/keys/{id}:
    delete:
      tags: [account]
      summary: APIキーの無効化
      operationId: revokeApiKey
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 無効化完了
          content:
            application/json:
              schema:
                type: object
                properties:
                  revoked_at:
                    type: string
                    format: date-time

  # ============================================================
  # 課金・残高
  # ============================================================
  /api/billing/balance:
    get:
      tags: [billing]
      summary: 残高取得
      operationId: getBalance
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_jpy:
                    type: number
                  total_consumed_jpy:
                    type: number
                  current_tier:
                    type: integer
                    minimum: 1
                    maximum: 4

  /api/billing/checkout:
    post:
      tags: [billing]
      summary: Stripe Checkout Session作成
      operationId: createCheckoutSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount_jpy]
              properties:
                amount_jpy:
                  type: number
                  minimum: 3000
                  maximum: 1000000
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_url:
                    type: string
                    format: uri
                  session_id:
                    type: string

  /api/billing/history:
    get:
      tags: [billing]
      summary: 課金履歴取得
      operationId: getBillingHistory
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingEvent'

  # ============================================================
  # Stripe Webhook
  # ============================================================
  /api/webhooks/stripe:
    post:
      tags: [billing]
      summary: Stripe Webhook受信
      operationId: stripeWebhook
      security: []
      description: |
        Stripe-Signature ヘッダーで検証必須。
      parameters:
        - name: Stripe-Signature
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Stripe Eventオブジェクト
      responses:
        '200':
          description: 処理完了
        '400':
          description: 署名検証失敗

  # ============================================================
  # 利用量分析
  # ============================================================
  /api/usage:
    get:
      tags: [usage]
      summary: 利用量取得
      operationId: getUsage
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hour, day, month]
            default: day
        - name: group_by
          in: query
          schema:
            type: string
            enum: [model, api_key, none]
            default: none
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        group_key:
                          type: string
                          nullable: true
                        request_count:
                          type: integer
                        input_tokens:
                          type: integer
                        output_tokens:
                          type: integer
                        cost_jpy:
                          type: number

  /api/usage/logs:
    get:
      tags: [usage]
      summary: リクエストログ取得
      operationId: getRequestLogs
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: api_key_id
          in: query
          schema:
            type: string
            format: uuid
        - name: model
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [success, error, timeout]
        - name: request_id
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestLog'
                  next_cursor:
                    type: string
                    nullable: true

  # ============================================================
  # ヘルスチェック
  # ============================================================
  /health:
    get:
      tags: [models]
      summary: 簡易ヘルスチェック(Liveness)
      operationId: health
      security: []
      responses:
        '200':
          description: 正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]

  /ready:
    get:
      tags: [models]
      summary: 準備完了チェック(Readiness)
      operationId: ready
      security: []
      responses:
        '200':
          description: 準備完了(全依存サービス疎通可能)
        '503':
          description: 準備未完了

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        APIキーを Bearer 形式で送信:
        `Authorization: Bearer sk-jp-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx`

  schemas:
    # ============================================================
    # OpenAI互換スキーマ
    # ============================================================
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          example: deepseek-v4-flash
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ChatMessage'
        stream:
          type: boolean
          default: false
        temperature:
          type: number
          minimum: 0
          maximum: 2
          nullable: true
        max_tokens:
          type: integer
          minimum: 1
          nullable: true
        top_p:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
        n:
          type: integer
          minimum: 1
          maximum: 1
          default: 1
        stop:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          nullable: true
        presence_penalty:
          type: number
          minimum: -2
          maximum: 2
          nullable: true
        frequency_penalty:
          type: number
          minimum: -2
          maximum: 2
          nullable: true
        user:
          type: string
        tools:
          type: array
          items:
            $ref: '#/components/schemas/Tool'
        tool_choice:
          oneOf:
            - type: string
              enum: [auto, none, required]
            - type: object
        response_format:
          type: object
          properties:
            type:
              type: string
              enum: [text, json_object, json_schema]
            json_schema:
              type: object
        # 拡張フィールド
        x_fallback_models:
          type: array
          items:
            type: string
          description: 上流障害時のフォールバック先モデル(優先順)

    ChatMessage:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [system, user, assistant, tool]
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: '#/components/schemas/ContentPart'
          nullable: true
        name:
          type: string
        tool_calls:
          type: array
          items:
            $ref: '#/components/schemas/ToolCall'
        tool_call_id:
          type: string

    ContentPart:
      type: object
      properties:
        type:
          type: string
          enum: [text, image_url]
        text:
          type: string
        image_url:
          type: object
          properties:
            url:
              type: string

    Tool:
      type: object
      required: [type, function]
      properties:
        type:
          type: string
          enum: [function]
        function:
          type: object
          required: [name]
          properties:
            name:
              type: string
            description:
              type: string
            parameters:
              type: object
              description: JSON Schema

    ToolCall:
      type: object
      required: [id, type, function]
      properties:
        id:
          type: string
        type:
          type: string
          enum: [function]
        function:
          type: object
          properties:
            name:
              type: string
            arguments:
              type: string

    ChatCompletionResponse:
      type: object
      required: [id, object, created, model, choices]
      properties:
        id:
          type: string
          example: chatcmpl-abc123
        object:
          type: string
          enum: [chat.completion]
        created:
          type: integer
          format: int64
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/ChatMessage'
              finish_reason:
                type: string
                enum: [stop, length, tool_calls, content_filter, null]
                nullable: true
        usage:
          $ref: '#/components/schemas/Usage'

    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
        prompt_tokens_details:
          type: object
          properties:
            cached_tokens:
              type: integer

    EmbeddingRequest:
      type: object
      required: [model, input]
      properties:
        model:
          type: string
          example: qwen3-embedding-8b
        input:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        encoding_format:
          type: string
          enum: [float, base64]
          default: float
        dimensions:
          type: integer

    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum: [embedding]
              index:
                type: integer
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            total_tokens:
              type: integer

    ModelList:
      type: object
      properties:
        object:
          type: string
          enum: [list]
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'

    Model:
      type: object
      properties:
        id:
          type: string
          example: deepseek-v4-flash
        object:
          type: string
          enum: [model]
        created:
          type: integer
          format: int64
        owned_by:
          type: string
          example: deepseek
        display_name:
          type: string
        context_length:
          type: integer
        max_output_tokens:
          type: integer
        capabilities:
          type: array
          items:
            type: string
            enum: [chat, tools, json_mode, thinking, vision, embeddings]
        pricing:
          type: object
          properties:
            input_per_million_jpy:
              type: number
            output_per_million_jpy:
              type: number
            cache_hit_input_per_million_jpy:
              type: number
        data_residency:
          type: array
          items:
            type: string
            enum: [china_mainland, singapore, united_states, japan]

    # ============================================================
    # Anthropic互換スキーマ
    # ============================================================
    AnthropicMessageRequest:
      type: object
      required: [model, messages, max_tokens]
      properties:
        model:
          type: string
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [user, assistant]
              content:
                oneOf:
                  - type: string
                  - type: array
                    items:
                      type: object
        system:
          type: string
        max_tokens:
          type: integer
          minimum: 1
        temperature:
          type: number
        top_p:
          type: number
        stream:
          type: boolean

    AnthropicMessageResponse:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [message]
        role:
          type: string
          enum: [assistant]
        content:
          type: array
          items:
            type: object
        model:
          type: string
        stop_reason:
          type: string
        usage:
          type: object
          properties:
            input_tokens:
              type: integer
            output_tokens:
              type: integer

    # ============================================================
    # ドメインスキーマ
    # ============================================================
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        phone_verified:
          type: boolean
        current_tier:
          type: integer
          minimum: 1
          maximum: 4
        balance_jpy:
          type: number
        total_consumed_jpy:
          type: number
        kyc_status:
          type: string
          enum: [unverified, pending, verified]
        status:
          type: string
          enum: [active, suspended, closed]
        created_at:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        key_display:
          type: string
          example: "sk-jp-AbC1...wXyZ"
        allowed_models:
          type: array
          items:
            type: string
          nullable: true
        allowed_ips:
          type: array
          items:
            type: string
          nullable: true
        monthly_budget_jpy:
          type: number
          nullable: true
        daily_request_limit:
          type: integer
          nullable: true
        last_used_at:
          type: string
          format: date-time
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        revoked_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        this_month_requests:
          type: integer
        this_month_cost_jpy:
          type: number

    BillingEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        event_type:
          type: string
          enum: [top_up, consumption, refund, adjustment]
        amount_jpy:
          type: number
        balance_after_jpy:
          type: number
        reference:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    RequestLog:
      type: object
      description: |
        Zero-Retention方針に基づき、リクエスト・レスポンス本文は含まない。
        メタデータのみ提供。
      properties:
        request_id:
          type: string
        timestamp:
          type: string
          format: date-time
        api_key_id:
          type: string
          format: uuid
        model:
          type: string
        upstream_adapter:
          type: string
        input_tokens:
          type: integer
        output_tokens:
          type: integer
        cache_hit_tokens:
          type: integer
        total_cost_jpy:
          type: number
        latency_ms:
          type: integer
        ttft_ms:
          type: integer
          nullable: true
        status:
          type: string
          enum: [success, error, timeout]
        error_code:
          type: string
          nullable: true

    # ============================================================
    # エラースキーマ
    # ============================================================
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [type, message]
          properties:
            type:
              type: string
              description: エラータイプ(OpenAI互換)
            code:
              type: string
              description: 詳細エラーコード
            message:
              type: string
              description: 日本語エラーメッセージ
            param:
              type: string
              nullable: true
            request_id:
              type: string
            documentation_url:
              type: string
              format: uri

  responses:
    BadRequest:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: 認証エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InsufficientBalance:
      description: 残高不足
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: 権限不足(スコープ違反等)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ModelNotFound:
      description: モデル不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: レート制限超過
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Limit-Requests:
          schema:
            type: integer
        X-RateLimit-Remaining-Requests:
          schema:
            type: integer
        X-RateLimit-Reset-Requests:
          schema:
            type: integer
        X-RateLimit-Limit-Tokens:
          schema:
            type: integer
        X-RateLimit-Remaining-Tokens:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServerError:
      description: 内部エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    UpstreamError:
      description: 上流APIエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ServiceUnavailable:
      description: サービス利用不可(全上流障害等)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
